.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  width: 60vw;
  @include tablet {
    width: 60rem;
  }
  @include desktop {
    width: 80rem;
  }
}
.container_login {
  width: 100%;
}
