// Done: REFACTOR, LEAVE ONLY SASS AND CONFIGURE GLOBAL STYLES (DEFINE COLORS/PALLETTE)
// USE REM
// ASSIGNED TO: MAICITA
//HACK NOMENCLATURA BEM

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@400;800&display=swap");
// -- COLORS PALETTE -- //
$color1: #d7dcec;
$color2: #9ea4b9;
$color3: #b1b5d4;
$color4: #343848;
$color5: #6fa2b0;
$color6: #887370;
$color7: #ed9eaa;
$color8: #343848e3;

$poppins: "Poppins", sans-serif;
$poiret: "Poiret One", cursive;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-family: $poiret;
}

body {
  height: 100vh;
  width: 100vw;
}

h1,
h2,
p {
  font-size: $poppins;
  margin: 0;
}

h3 {
  margin: 0;
}

@mixin mobile {
  @media only screen and (min-width: 568px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin titles($color, $font-weight, $font-size) {
  // letter-spacing: 0.5rem;
  color: $color;
  font-weight: $font-weight;
  font-size: $font-size;
}
@mixin titles1($family, $font-weight, $font-size, $color) {
  // letter-spacing: 0.5rem;
  font-family: $family;
  font-weight: $font-weight;
  @include font-size($font-size);
  color: $color;
}
@mixin box($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@function caculateRem($size) {
  $remSize: $size/ 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: caculateRem($size);
  line-height: caculateRem($size) * 1.5;
}

.title_pink_bold {
  @include titles($color7, bold, 3rem);
}

.title_pink_medium {
  @include titles($color7, 400, 2rem);
}

.title_pink_thin {
  @include titles($color7, light, 2rem);
}

.text_pink_thin {
  @include titles($color7, light, 1.3rem);
}

.title_violet_thin {
  @include titles($color3, 300, 2rem);
}

.text_violet_thin {
  @include titles($color3, 300, 1.2rem);
}

.title_white_thin {
  @include titles($color1, bold, 3rem);
}
