// TODO: REFACTOR, LEAVE ONLY SASS AND CONFIGURE GLOBAL STYLES (DEFINE COLORS/PALLETTE)
// USE REM
// ASSIGNED TO: MAICITA
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

$primary_color: #e01010;
$secondary_color: #838583;
